.marritual-yes{ background:rgba(221, 220, 225,0.2) !important;}
.marritual-no {background: rgba(255, 214, 92, 0.2) !important;}
.marritual-20M{background:rgba(136, 255, 128, 0.2) !important;}
.marritual-20P{background: rgba(255, 138, 128,0.2) !important;}
