<h4 class="h4">Active Button Page</h4>
<div class="row">
    <div class="col-lg-12">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Click Active Button</h4>
              </div>
              <div class="card-body">
                <ul class="active-bun-col">
                <li type="button" [class.btn-inverse-primary-active]="activetab === 1" (click)="addclass(1)" class="btn btn-inverse-primary">Active Button </li>
                <li type="button" [class.btn-inverse-primary-active]="activetab === 2" (click)="addclass(2)" class="btn btn-inverse-primary">Active Button</li>
                <li type="button" [class.btn-inverse-primary-active]="activetab === 3" (click)="addclass(3)" class="btn btn-inverse-primary">Active Button</li>
                <li type="button" [class.btn-inverse-primary-active]="activetab === 4" (click)="addclass(4)" class="btn btn-inverse-primary">Active Button</li>
                <li type="button" [class.btn-inverse-primary-active]="activetab === 5" (click)="addclass(5)" class="btn btn-inverse-primary">Active Button</li>
                <li type="button" [class.btn-inverse-primary-active]="activetab === 6" (click)="addclass(6)" class="btn btn-inverse-primary">Active Button</li>
                <li type="button" [class.btn-inverse-primary-active]="activetab === 7" (click)="addclass(7)" class="btn btn-inverse-primary">Active Button</li>
                </ul>
               
              </div>
            </div>
          </div>
    </div>
</div>
 