<nav class="col-md-2 d-none d-md-block  sidebar">
    <div class="sidebar-sticky">
      <a class="navbar-brand" href="#">Angular Material</a>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="MaterialForm" routerLinkActive="active">
            <i  class="fa fa-folder-o"></i>
            <span>Material Form</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="Table" routerLinkActive="active">
            <i  class="fa fa-folder-o"></i>
            <span>Table Data</span>
          </a>
        </li>

        

        <li class="nav-item">
          <a class="nav-link " routerLink="ParentPage" routerLinkActive="active">
            <i  class="fa fa-folder-o"></i>
            <span>Parent Page</span>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link " routerLink="DataComm" routerLinkActive="active">
            <i  class="fa fa-folder-o"></i>
            <span>Data Communication</span>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link " routerLink="Activebutton" routerLinkActive="active">
            <i  class="fa fa-folder-o"></i>
            <span>Active Button</span>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link " routerLink="recordspage" routerLinkActive="active">
            <i  class="fa fa-folder-o"></i>
            <span>Records Page</span>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link " routerLink="ArrayTableValue" routerLinkActive="active">
            <i  class="fa fa-folder-o"></i>
            <span>Array Table Value</span>
          </a>
        </li>




        
        
      </ul>
    </div>
  </nav>