<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Parent Page</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization. Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.
        </ul>
        <button type="button" class="btn btn-primary" (click)="senddatatoParent()">Send Child</button>
      </div>
    </div>
  </div> 